<div class="container">
  <div class="row"  >
    <div class="col-sm-8 col-sm-offset-2 fondo">
      <p>
        {{link-to "Regresar" "empleados.index" }}
      </p>

      <center><h1 class="fondow">Mostrar Empleado</h1></center>

      <p>
        <strong>Nombre:</strong>
        <span>{{model.nombre}}</span>
      </p>

      <p>
        <strong>Paterno:</strong>
        <span>{{model.paterno}}</span>
      </p>

      <p>
        <strong>Materno:</strong>
        <span>{{model.materno}}</span>
      </p>

      <p>
        <strong>Correo:</strong>
        <span>{{model.correo}}</span>
      </p>

      <p>
        <strong>Direccion:</strong>
        <span>{{model.direccion}}</span>
      </p>

      <p>
        <strong>Telefono:</strong>
        <span>{{model.telefono}}</span>
      </p>
    </div>
  </div>
</div>
